/* MEDIA BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register-container h1 {
        font-size: 3rem;
    }

    .hero-container h1{
        font-size: 3rem;
    }

    .hero-container img {
        width: 3rem;
        height: 3rem;
        margin-left: -3rem;
        margin-right: -2.6rem;
        margin-bottom: .2rem;
    }

    .about-container h1,
    .about-container i {
        font-size: 3rem;
    }

    .reviews-container img {
        width: 100%;
        height: auto;
    }
    
    .profile-container h1 {
        font-size: 1.5rem;
    }

    .profile-container h2,
    .reviews-container h1 {
        font-size: 2rem;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero-container h1{
        font-size: 2.5rem;
    }

    .hero-container img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -2.5rem;
        margin-right: -2rem;
        margin-bottom: .2rem;
    }

    .about-container h1,
    .about-container i {
        font-size: 3rem;
    }

    .reviews-container h4 {
        margin-top: 1rem;
    }

    .backlog p,
    .finished-backlog p {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin: 0rem;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hero-container h1{
        font-size: 5rem;
    }

    .hero-container img {
        width: 5rem;
        height: 5rem;
        margin-left: -5rem;
        margin-right: -4.3rem;
        margin-bottom: .6rem;
     }

    .hero-container p {
        font-size: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-container h1{
        font-size: 6rem;
    }

    .hero-container img {
        width: 6rem;
        height: 6rem;
        margin-left: -6rem;
        margin-right: -5.4rem;
        margin-bottom: .6rem;
     }

    .hero-container p {
        font-size: 2rem;
    }

    .reviews-container h4 {
        margin-top: 0rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-container h1{
        font-size: 7rem;
    }

    .hero-container img{
        width: 6.4rem;
        height: 6.4rem;
        margin-left: -7rem;
        margin-right: -6.5rem;
        margin-bottom: .8rem;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 1.3rem;
    }

    nav .brand-logo {
        margin-left: 2rem;
    }

    .profile-container h1,
    .finished-container h1 {
        font-size: 2.5rem;
    }

    .backlog-container p,
    .finished-container p {
        font-size: 1.3rem;
        margin: 0;
    }
}
