@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* BACKGROUND COLORS */

.bg-color-hero,
.bg-color-info,
.bg-color-register,
.bg-color-login,
.bg-color-reviews,
.bg-color-flashes,
.bg-color-profile, 
.bg-color-backlog,
.bg-color-add {
    background-color: #f5f5f5;
}

.bg-color-about {
    background-color: #fff;
}

.bg-color-footer{
    background-color: #1f1f1f;
}

.bg-color-navbar {
    background-color: #fff;
}

/* ----------------------NAVBAR--------------------- */

nav.nav-extended {
    height: auto;
    box-shadow: none;
}

nav .brand-logo {
    position: absolute;
    color: #000000;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

.brand-logo i {
    font-size: 3rem;
}

nav ul li {
    font-weight: 900;
}

nav ul li:hover {
    background-color: #f5f5f5;
}

nav ul a {
    color: #1f1f1f;
}

.sidenav {
    background-color: white;
}

.sidenav li>a {
    color: #1f1f1f!important;
    font-size: 2rem;
    padding: .5rem;
    padding-left: 1rem;
    font-weight: 900;
}

.sidenav li>a:hover {
    font-weight: 400;
    transition: 100ms ease-in-out;
}

.sidenav-overlay {
    background-color: rgb(0 0 0 / 78%); 
}

.sidenav-header {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 1rem;
}

.sidenav-copyright {
    margin-left: 1rem;
}

a.sidenav-trigger.left {
    color: #1f1f1f;
}

.pacman-sidenav {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -1.4rem;
    margin-right: -1.2rem;
    margin-bottom: .1rem;
    transform: scaleX(-1);
}

.hr-navbar {
    width: 90%;
    margin-top: 2rem;
}

/* -----------------------CONTAINERS------------------------- */

.hero-container {
    color: #1f1f1f;
    margin-bottom: 0;
    user-select: none;
    padding-top: 5rem;
}

.hero-container img {
   transform: scaleX(-1);
}

.hero-container h1,
.profile-container h2 {
    font-family: 'Press Start 2P', sans-serif;
}

.info-container {
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #1f1f1f;
}

.about-container {
    color: #1f1f1f;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
}

.about-container i {
    padding-bottom: 2rem;
}

.about-container h1 {
    font-weight: 700;
    margin-top: -.1rem;
}

.backlog-container,
.finished-container {
    padding-bottom: 5rem;
    margin-bottom: 0;
}

.backlog-container .btn,
.finished-container .btn {
    margin: 1rem;
}

.footer-container {
   color: #f9f9f9;
}

.reviews-container h4,
.reviews-container span,
.profile-container h4,
.profile-container span,
.review-inner a {
    font-weight: 700;
}

.reviews-container h1,
.profile-container h1:first-child {
    font-family: 'Press Start 2P', sans-serif;
}

.reviews-container h4 {
    margin-top: 0rem;
}

.reviews-container img,
.profile-container img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.backlog-container a,
.finished-container a {
    margin-top: 3rem;
}

.info-container a:last-child,
.footer-container a,
.register-container a,
.login-container a{
    font-weight: 400;
}

.footer-container ul {
    position: relative;
    display: flex;
}

.footer-container i {
    font-size: 3rem;
    padding-right: 1rem;
}

/* --------------------MEDIA BREAKPOINTS---------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hero-container h1,
    .register-container h1 {
        font-size: 2rem;
    }

    .hero-container img {
        width: 2rem;
        height: 2rem;
        margin-left: -2rem;
        margin-right: -1.7rem;
        margin-bottom: .2rem;
    }

    .about-container h1,
    .about-container i {
        font-size: 3rem;
    }

    .reviews-container img {
        width: 100%;
        height: auto;
    }
    
    .profile-container h1 {
        font-size: 1rem;
    }

    .profile-container h2,
    .reviews-container h1 {
        font-size: 2rem;
    }

    .about-container i:nth-child(1) {
    padding-top: 2rem;
    }

    .backlog-container h1,
    .finished-container h1,
    .add-container h1 {
        font-size: 2rem;
    }

    .backlog-container .card-panel {
        padding-bottom: 0;
    }

    .backlog-container p,
    .finished-container p {
        font-size: .9rem;
        margin: 0;
    }


    .backlog i {
        margin-top: -.2rem;
    }

    .register-container,
    .login-container,
    .add-container {
        min-height: 80vh;
        padding-top: 5rem;
        padding-bottom:5rem;
        margin-bottom: 0;
    }
    
    .reviews-container,
    .profile-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .header-reviews p {
        padding-bottom: 2rem;
    }

    .header-reviews hr {
        margin-bottom: 1rem;
        max-width: 90%;
    }

    .reviews-container form button,
    .reviews-container form a  {
        width: 100%;
        margin-bottom: 1rem;
    }

    .finished-container .btn, 
    .backlog-container .btn {
        width: 100%;
        margin: 0;
    }

    .login-container button,
    .register-container button,
    .add-container button{
        width: 80%;
        margin-top: 1rem;
    }

    
    .edit-cancel {
        width: 80%;
    }

    .add-container p {
        padding-top: 2rem;
    }

    .log-pending-container p,
    .fin-pending-container p,
    .rev-pending-container h1 {
        padding-top: 5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero-container h1{
        font-size: 5rem;
    }

    .hero-container img {
        width: 5rem;
        height: 5rem;
        margin-left: -5rem;
        margin-right: -4.3rem;
        margin-bottom: .6rem;
    }

    .about-container h1,
    .about-container i {
        font-size: 2rem;
    }

    .reviews-container,
    .profile-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .profile-container h1 {
        font-size: 1.5rem;
    }

    .backlog p,
    .finished-backlog p {
    font-size: .9rem;
    margin: 0rem;
    }

    .reviews-container form button {
        margin-top: 2rem;
        float: right;
        margin-left: .2rem;
    }

    .reviews-container form a {
        margin-top: 2rem;
        float: right;
    }

    .login-container button,
    .register-container button,
    .add-container button {
        width: 80%;
        margin-top: 1rem;
    }

    .edit-cancel {
        width: 80%;
    }

    .register-container h1 {
        font-size: 2rem;
    }

    .register-container,
    .login-container,
    .add-container {
        min-height: 80vh;
        padding-top: 5rem;
        padding-bottom:5rem;
        margin-bottom: 0;
    }

    .log-pending-container p,
    .fin-pending-container p,
    .rev-pending-container h1 {
        padding-top: 5rem;
    }

    .add-container h1 {
        font-size: 2.5rem;
    }

    .add-container p {
        padding-top: 2rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .hero-container p {
        font-size: 2rem;
    }

    .reviews-container,
    .profile-container {
        min-height: 80vh;
        padding-top: 5rem;
        padding-bottom:5rem;
        margin-bottom: 0;
    }

    .reviews-container form button {
        margin-left: .5rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .hero-container h1 {
        font-size: 6rem;
    }

    .hero-container img {
        width: 6rem;
        height: 6rem;
        margin-left: -6rem;
        margin-right: -5.4rem;
        margin-bottom: .6rem;
     }

    .hero-container p {
        font-size: 2rem;
    }

    .reviews-container h4,
    .profile-container h4 {
        margin-top: 0rem;
    }

    .backlog-container p,
    .finished-container p {
        font-size: 1rem;
        margin: 0;
    }

    .register-container h1 {
        font-size: 3rem;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-container h1{
        font-size: 7rem;
    }

    .hero-container img{
        width: 6.4rem;
        height: 6.4rem;
        margin-left: -7rem;
        margin-right: -6.5rem;
        margin-bottom: .8rem;
    }

    .about-container h1,
    .about-container i {
        font-size: 3rem;
    }


    .about-container p {
        font-size: 1.3rem;
    }

    nav .brand-logo {
        margin-left: 2rem;
    }

    .profile-container h1,
    .backlog-container h1,
    .finished-container h1,
    .rev-pending-container h1 {
        font-size: 2.5rem;
    }

    .finished-backlog,
    .backlog {
        min-height: 60vh;
    }

    .finished-container .btn, 
    .backlog-container .btn {
        width: 100%;
        margin: 0;
        margin-top: .5rem;
    }

    .log-pending-container p,
    .fin-pending-container p,
    .rev-pending-container h1{
        padding-top: 7.5rem;
    }

}



/* --------------------HOVER----------------------- */

.info-container a:last-child:hover,
.footer-container a:hover,
.register-container a:hover,
.login-container a:hover,
.review-inner a:hover{
    color: #ffcc00;
    transition: 300ms ease-in-out;
}

.finished-hover:hover {
    color: #464646;
    transition: 300ms ease-in-out;
}

i.fas.fa-check:hover {
    color: rgb(62, 145, 62);
    transition: 200ms ease-in-out;
}

i.fas.fa-times:hover {
    color: rgb(180, 32, 32);
    transition: 200ms ease-in-out;
}

.backlog a:first-child:hover,
.finished-backlog a:hover {
    color: #ffcc00;
    transition: 300ms ease-in-out;
    text-decoration: underline;
}

.btn:hover {
    background-color: #000000ab;
}

/* ----------------------------INPUT FIELDS-------------------------- */

.input-field label {
    color: #1f1f1f;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label {
    color: #1f1f1f!important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #1f1f1f!important;
    box-shadow: 0 1px 0 0 #1f1f1f!important;
}

.input-field .prefix.active {
    color: #000000ab;
}

/* ----------------------------ADDITIONAL STYLING-------------------------- */

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: white;
    background-color: #1f1f1f;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-weight: 600;
}

.flashes {
    padding-top: 2rem;
    margin-bottom: 0px;
}

.flashes h4 {
    color: #1f1f1f;
}

.fadein {
    opacity:0;
}

.fadeinleft,
.fadeinleftstart {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}

a {
    color: #7b7b7b;
}

.hr-profile {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr-review {
    border-bottom: 2px solid #f5f5f5;
    width: 100%;
    margin: 0 auto;
    margin-bottom:0;
}

#copyright {
    color: #7b7b7b;
}

.inline {
    display: inline;
}

.backlog i {
    float: right;
    padding: .5rem;
}

.hide {
    opacity: 0;
}

.capitilize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.review-text {
    text-align: justify;
}

.mb {
    margin-bottom: 3rem;
}

.review-inner {
    margin: 0;
}

.review-text span {
    font-weight: 400;
}