@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
 
/* BACKGROUND COLORS */

.bg-color-navbar {
    background-color: black;
}

/* NAVBAR */

nav.nav-extended {
    height: auto;
    box-shadow: none;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 1rem;
}