@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
}
 
/* BACKGROUND COLORS */

.bg-color-navbar {
    background-color: black;
}

.bg-color-footer {
    background-color: black;
}

/* NAVBAR */

nav.nav-extended {
    height: auto;
    box-shadow: none;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

i.fas.fa-gamepad {
    font-size: 3rem;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, .1);
 }

/* CONTAINERS */

.hero-container {
    background-color: rgb(0, 0, 0);
    min-height: 90vh;
    color: white;
    margin-bottom: 0;
}

.hero-container p {
   
}

.quote-container {
    min-height: 50vh;
    background-color: #d0a6ff;
    margin-bottom: 0;
}

.info-container {
    min-height: 50vh;
    background-color: white;
    color: black;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.login-container,
.register-container {
    min-height: 90vh;
}

.register-container {
    margin-top: 6rem;
}

.footer-container {
   color: white;
}

/* MEDIA BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero-container h1{
        font-size: 7rem;
    }

    .hero-container p {
        font-size: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-container h1{
        font-size: 10rem;
    }

    .hero-container p {
        font-size: 3rem;
    }

    nav .brand-logo {
        margin-left: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* ADDITIONAL STYLING */

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: black;
    background-color: #d0a6ff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #c395f7;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #d0a6ff!important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #d0a6ff!important;
    box-shadow: 0 1px 0 0 #d0a6ff!important;
  }

.input-field .prefix.active {
    color: #c395f7;
}

/* https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/ */

blockquote::before {
    content: open-quote;
  }
  blockquote::after {
    content: close-quote;
  }
  blockquote {
    quotes: "“" "”" "‘" "’";
  }