@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
}
 
/* BACKGROUND COLORS */

.bg-color-navbar {
    background-color: black;
}

.bg-color-footer {
    background-color: black;
}

/* NAVBAR */

nav.nav-extended {
    height: auto;
    box-shadow: none;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

i.fas.fa-gamepad {
    font-size: 3rem;
}

nav ul li {
    font-weight: 900;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, .1);
}

.sidenav {
    background-color: white;
}

.sidenav li>a {
    color: black!important;
    font-size: 2rem;
    padding: .5rem;
    padding-left: 1rem;
    font-weight: 900;
}

.sidenav li>a:hover {
    font-weight: 400;
    transition: 100ms ease-in-out;
}

.sidenav-overlay {
    background-color: rgb(0 0 0 / 78%); 
}

.sidenav-header {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 1rem;
}

.sidenav-copyright {
    margin-left: 1rem;
}

.pacman-sidenav {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -1.4rem;
    margin-right: -1.2rem;
    margin-bottom: .1rem;
    transform: scaleX(-1);
}

.hr-navbar {
    width: 90%;
    margin-top: 2rem;
}
/* CONTAINERS */

.hero-container {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    color: white;
    margin-bottom: 0;
    /* user-select: none; */
}

.hero-container img {
   transform: scaleX(-1);
}

.hero-container h1 {
    font-family: 'Press Start 2P', sans-serif;
}

.quote-container {
    min-height: 50vh;
    background-color: #d0a6ff;
    margin-bottom: 0;
}

.info-container {
    min-height: 50vh;
    background-color: white;
    color: black;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.login-container,
.register-container {
    min-height: 90vh;
}

.register-container {
    margin-top: 8rem;
}

.footer-container {
   color: white;
}

/* MEDIA BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register-container h1 {
        font-size: 3rem;
    }

    .hero-container h1{
        font-size: 2rem;
    }


    .hero-container img {
        width: 2rem;
        height: 2rem;
        margin-left: -2rem;
        margin-right: -1.6rem;
        margin-bottom: .2rem;
     }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero-container h1{
        font-size: 2.5rem;
    }


    .hero-container img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -2.5rem;
        margin-right: -2rem;
        margin-bottom: .2rem;
     }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hero-container h1{
        font-size: 5rem;
    }

    .hero-container img {
        width: 5rem;
        height: 5rem;
        margin-left: -5rem;
        margin-right: -4.3rem;
        margin-bottom: .6rem;
     }

    .hero-container p {
        font-size: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-container h1{
        font-size: 6rem;
    }

    .hero-container img {
        width: 6rem;
        height: 6rem;
        margin-left: -6rem;
        margin-right: -5.4rem;
        margin-bottom: .6rem;
     }

    .hero-container p {
        font-size: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-container h1{
        font-size: 7rem;
    }

    .hero-container img {
        width: 7rem;
        height: 7rem;
        margin-left: -7rem;
        margin-right: -6.5rem;
        margin-bottom: .8rem;
     }

    .hero-container p {
        font-size: 3rem;
    }

    nav .brand-logo {
        margin-left: 2rem;
    }
}

/* ADDITIONAL STYLING */

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: black;
    background-color: #d0a6ff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #c395f7;
}

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #d0a6ff!important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #d0a6ff!important;
    box-shadow: 0 1px 0 0 #d0a6ff!important;
  }

.input-field .prefix.active {
    color: #c395f7;
}

.flashes h4 {
    color: white;
}

.fadein {
    opacity:0;
}

.fadeinleft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}

/* https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/ */

blockquote::before {
    content: open-quote;
  }
  blockquote::after {
    content: close-quote;
  }
  blockquote {
    quotes: "“" "”" "‘" "’";
  }