{% extends "base.html" %}
{% block content %}

<div class="row add-container bg-color-add">
	<form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="" enctype="multipart/form-data">
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<h1 class="center-align">
						Review your game
					</h1>
				</div>
			</div>
			<!-- GAME TITLE FOR REVIEW -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<input id="review_name" name="review_name"
						type="text" value="{{ finished.backlog_name }}" class="validate" required>
					<label for="review_name"></label>
				</div>
			</div>
			<!-- CAPTURING TEXT -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<input id="review_capture" name="review_capture"
						type="text" class="validate" data-length="50" required>
					<label for="review_capture"> Capturing Text</label>
				</div>
			</div>
			<!-- GENRE -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<select id="genre_name" name="genre_name" class="validate" required>
						<option value="" disabled selected>Choose Genre</option>
						{% for genre in genres %}
						<option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
						{% endfor %}
					</select>
					<label for="genre_name">Genre</label>
				</div>
			</div>
			<!-- PLATFORM -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<select id="platform_name" name="platform_name" class="validate" required>
						<option value="" disabled selected>Choose Platform</option>
						{% for platform in platforms %}
						<option value="{{ platform.platform_name }}">{{ platform.platform_name }}</option>
						{% endfor %}
					</select>
					<label for="platform_name">Platform</label>
				</div>
			</div>
			<!-- DEVELOPER -->
            <div class="row">
				<div class="input-field col s10 offset-s1">
					<input id="developer_name" name="developer_name"
						type="text" class="validate" required>
					<label for="developer_name">Developer</label>
				</div>
			</div>
			<!-- DURATION -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<input id="duration" name="duration"
						type="text" class="validate" data-length="10" required>
					<label for="duration">Duration (Hours)</label>
				</div>
			</div>
			<!-- REVIEW TEXT  -->
            <div class="row">
				<div class="input-field col s10 offset-s1">
					<textarea id="review_text" name="review_text"
						type="text" class="materialize-textarea validate" required></textarea>
					<label for="review_text">Review</label>
				</div>
			</div>
			<!-- RATING -->
			<div class="row">
				<div class="input-field col s10 offset-s1">
					<select id="rating_nr" name="rating_nr" class="validate" required>
						<option value="" disabled selected>(1 is Bad, 5 is Good)</option>
						{% for rating in ratings %}
						<option value="{{ rating.rating_nr }}">{{ rating.rating_nr }}</option>
						{% endfor %}
					</select>
					<label for="rating_nr">Rating 1-5</label>
				</div>
			</div>
			<!-- IMAGE UPLOAD -->
			<div class="row">
				<div class="file-field input-field col s10 offset-s1">
					<div class="btn waves-effect waves-light btn-small">
						<span><i class="fas fa-upload"></i></span>
						<input type="file" accept="image/*" name="photo_url" id="photo_url" required>
						
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
						
					</div>
				</div>
			</div>
			<!-- ADD BUTTON -->
			{% if session.user|lower == finished.added_by|lower %}
			<div class="row center-align">
				<button type="submit" class="btn waves-effect waves-light btn-small s10 offset-s1">
					Add Review
				</button>
			</div>
			<!-- CANCEL BUTTON -->
			<div class="row center-align">
				<a href="{{ url_for('profile', username=session['user']) }}" class="btn waves-effect waves-light btn-small s10 offset-s1 edit-cancel">Cancel</a>
			</div>
			{% endif %}
		</div>
	</form>
</div>

{% endblock %}