{% extends "base.html" %}
{% block content %}

<div class="row add-container bg-color-add">
	<form class="col s12 m8 offset-m2 l6 offset-l3" method="POST" action="{{ url_for('edit_review_img', review_id=review._id) }}" enctype="multipart/form-data">
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<h1 class="center-align">
						Edit Review Images
					</h1>
				</div>
			</div>

			<!-- IMAGE UPLOAD -->
			<div class="row">
				<div class="file-field input-field col s10 offset-s1">
					<div class="btn waves-effect waves-light btn-small">
						<span>Upload Images</span>
						<input type="file" accept="image/*" name="photo_url" value="{{ review.photo_url }}" id="photo_url">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<!-- EDIT  BUTTON -->
			<div class="row center-align">
				<button type="submit" class="btn waves-effect waves-light btn-small s10 offset-s1">
					Edit Review
				</button>
			</div>
			<!-- CANCEL BUTTON -->
			<div class="row center-align">
				<a href="{{ url_for('profile', username=session['user']) }}" class="btn waves-effect waves-light btn-small s10 offset-s1 edit-cancel">Cancel</a>
			</div>
		</div>
	</form>
</div>

{% endblock %}