{% extends "base.html" %}
{% block content %}

<div class="row hero-container center-align bg-color-hero">
    <div class="col l12 s12">
        <h1> 
            THE <br> BACKL <img src="static/img/pacman.png" alt="picture of pacman instead of the letter O"> G
        </h1>
        <p>Keep track of your unfinshed games.</p>
    </div>
</div>
<!-- Hide the sign up & sign in buttons if user is logged in  -->
{% if session.user %}
<div class="row info-container center-align bg-color-info">
    <div class="col l12 s12">
    </div>
</div>
{% else %}
<div class="row info-container center-align bg-color-info">
    <div class="col l12 s12">
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light btn-small">Sign Up</a>
        <p>Already a member? <a href="{{ url_for('log_in') }}">Sign In</a></p>
    </div>
</div>
{% endif %}
<div class="row about-container center-align bg-color-about">
    <div class="col s12 m5 offset-m1 l3 offset-l2">
        <i class="fas fa-archive"></i>
        <h1 class="capitilize">
            Track your backlog
        </h1>
        <p>
            Add games to your backlog, keep track of the games you haven't got the time to play yet, or just didn't have the time to finish. If you're in search for inner peace, start clearing out your backlog!
        </p>
    </div>
    <div class="col s12 m5 l3 offset-l2">
        <i class="fas fa-pencil-alt"></i>
        <h1 class="capitilize">
            Review your games
        </h1>
        <p>
            Once you have finished a game, It will be placed in your "Finished" list. Just click the game to leave a review. For you to remember and for others to take part of your experience. 
        </p>
    </div>
</div>
{% endblock %}