{% extends "base.html" %}
{% block content %}
    <div class="row profile-container bg-color-profile">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <h1 class="center-align capitilize">
                {{ username }}'s Games
                <hr class="hr-profile">
            </h1>
        </div>
<!-- Show this if you havn't added to your list -->
    {% if backlogs|length == 0 %}
        <div class="log-pending-container bg-color-backlog center-align">
            <div class="col s12 m10 offset-m1 l8 offset-l2 xl4 offset-xl2">
                <p>
                    You dont have any games in your backlog!
                </p>
                <a href="{{ url_for('add_backlog') }}" class="btn waves-effect waves-light btn-small">
                    Add to Backlog
                </a>
            </div>
        </div>
    {% endif %}
<!-- Show this if you have added to your list -->
    {% if backlogs|length != 0 %}
        <div class="backlog-container center-align">
            <div class="col s12 m8 offset-m2 l8 offset-l2 xl4 offset-xl2">
                <div class="row">
                    <div class="col s12">
                        <h1 class="center-align">
                            Backlog
                        </h1>      
                    </div>
                </div>
                <div class="card-panel left-align backlog">
                    {% for backlog in backlogs %}
                        <p class="capitilize games">
                            <a href="{{ url_for('edit_backlog',  backlog_id=backlog._id ) }}">{{ backlog.backlog_name }}
                            </a>
                            <a href="{{ url_for('delete_backlog',  backlog_id=backlog._id ) }}">
                                <i class="fas fa-times "></i>
                            </a>
                            <a href="{{ url_for('finished_backlog',  backlog_id=backlog._id ) }}">
                                <i class="fas fa-check "></i>
                            </a>
                        </p>
                        <br>

                    {% endfor %}
                </div>
                <a href="{{ url_for('add_backlog') }}" class="btn waves-effect waves-light btn-small">Add to Backlog</a>
            </div>
        </div>
    {% endif %}
<!-- Show this if you havn't finished any games -->
    {% if finish|length == 0 %}
        <div class="fin-pending-container bg-color-backlog center-align">
            <div class="col s12 m10 offset-m1 l8 offset-l2 xl4">
                <p>
                    You haven't finished any games yet!
                </p>
                <a href="{{ url_for('add_finished') }}" class="btn waves-effect waves-light btn-small">
                    Add to Finished
                </a>
            </div>
        </div>
    {% endif %}
<!-- Show this if you have finshed a game -->
    {% if finish|length != 0 %}
    <div class="finished-container center-align">
        <div class="col s12 m8 offset-m2 l8 offset-l2 xl4">
            <div class="row">
                <div class="col s12">
                    <h1 class="center-align">
                        Finished
                    </h1>      
                </div>
            </div>
            <div class="card-panel left-align finished-backlog">
                {% for finished in finish %}
                    <p class="capitilize games inline">
                        <a class ="hover-effect" href="{{ url_for('add_review',  finished_id=finished._id) }}">
                           {{ finished.backlog_name }} 
                        </a>
                        <span>|</span>
                    </p>
                {% endfor %}
            </div>
            <a href="{{ url_for('add_finished') }}" class="btn waves-effect waves-light btn-small">
                Add to Finished
            </a>
        </div>
    </div>
    {% endif %}

    {% if review|length == 0 %}
    <div class="row rev-pending-container">
    <div class="col s12 m8 offset-m2 center-align">
        <h1>
            Your Reviews!
        </h1>
        <p>Once you have reviewed any game, It will end up here.</p>
    </div>
</div>
{% endif %}

    {% if review|length != 0 %}
    <div class="col s12 m8 offset-m2 center-align">
        <h1>
            Your Reviews! 
        </h1>
    </div>
{% for review in reviews %}
    <div class="col s12 m8 offset-m2">
        <div class="card-panel fadeinleft">
            <div class="row review-inner">
                <div class="col s12 m12 l12 xl6">
                    <img src="{{ review.photo_url }}" alt=" image">
                </div>
                <div class="col s12 m12 l12 xl6">
                    <h4>{{ review.review_name }} </h4>
                <p class="inline">
                    <span>Platform:</span> 
                        {{ review.platform_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Genre:</span>
                        {{ review.genre_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Developer:</span> 
                        {{ review.developer_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Duration:</span> 
                        {{ review.duration }} 
                </p>
                <p class="review-text minimize">
                    {{ review.review_text }}
                </p>
                <hr>
                <p class="inline">
                    <span>Rating: </span> 
                   {{ review.rating_nr }}/5
                   <span>|</span>
                </p>
                <p class="inline">
                    <span>By: </span> 
                    {{ review.review_by }}
                    
                </p>
                {% if session.user|lower == review.review_by|lower %}
                <span>|</span>
                <a href="{{ url_for('edit_review', review_id=review._id) }}">EDIT</a>
                <span>|</span>
                <a href="{{ url_for('delete_review', review_id=review._id) }}">DELETE</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
        {% endif %}
</div>
{% endblock %}