{% extends "base.html" %}
{% block content %}

<div class="row reviews-container bg-color-reviews">
    <div class="col s12 m12 l8 offset-l2 center-align header-reviews">
        <h1 class="review-header">
            Reviews
        </h1>
        <p>Here are the latest user reviews</p>
        <hr class="hr-review">
    </div> 
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12 m9 l6 offset-l2">
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col s12 m3 l2">
                    <button type="submit" class="btn waves-effect waves-light btn-small" aria-label="Search Button">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="{{ url_for('reviews') }}" class="btn waves-effect waves-light btn-small" aria-label="Reset Button">Reset</a>
                </div>
            </div>
        </form>
       
{% if reviews|length > 0 %}
{% for review in reviews %}
    <div class="col s12 m12 l8 offset-l2">
        <div>
            <div class="row review-inner">
                <div class="col s12 m6 l5 xl4">
                    <a href="{{ url_for('full_review', review_id=review._id) }}"><img src="{{ review.photo_url }}" alt="image for game review"></a>
                </div>
                <div class="col s12 m6 l7 xl8">
                    <a class="link" href="{{ url_for('reviews') }}">Reviews</a>
                    <a class ="title" href="{{ url_for('full_review', review_id=review._id) }}"><h1>{{ review.review_name }} </h1></a>
                <p class="inline">
                    <span>Platform:</span> 
                        {{ review.platform_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Genre:</span>
                        {{ review.genre_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Developer:</span> 
                        {{ review.developer_name }} 
                </p>
                <p>
                    <i>"{{ review.review_capture }}"</i>
                </p>
                <p class="inline review-by">
                    <span>By: {{ review.review_by }}</span> 
                    </p>
                </div>
                
            </div>
            <hr class="hr-review">
        </div>
    </div>
{% endfor %}
{% else %}
    <div class="row reviews-container bg-color-reviews">
        <div class="col s12 m8 offset-m2 center-align">
            <h4 class="center-align">
                No Results Found
            </h4>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}
