{% extends "base.html" %}
{% block content %}

<div class="row reviews-container bg-color-reviews">
    <div class="col s12 m8 offset-m2 center-align header-reviews">
        <h1>
            Reviews
        </h1>
        <p>Here are the latest user reviews</p>
        
    </div>

        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12 m5 offset-m2 l6 offset-l2">
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col s12 m3 l2">
                    <button type="submit" class="btn waves-effect waves-light btn-small">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="{{ url_for('reviews') }}" class="btn waves-effect waves-light btn-small">Reset</a>
                </div>
            </div>
        </form>
{% if reviews|length > 0 %}
{% for review in reviews %}
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <div class="row review-inner">
                <div class="col s12 m12 l12 xl6">
                    <img src="{{ review.photo_url }}" alt=" image">
                </div>
                <div class="col s12 m12 l12 xl6">
                    <h4>{{ review.review_name }} </h4>
                <p class="inline">
                    <span>Platform:</span> 
                        {{ review.platform_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Genre:</span>
                        {{ review.genre_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Developer:</span> 
                        {{ review.developer_name }} 
                    <span>|</span>
                </p>
                <p class="inline">
                    <span>Duration:</span> 
                        {{ review.duration }} 
                </p>
                <p class="review-text minimize">
                    {{ review.review_text }}
                </p>
                <hr>
                <p class="inline">
                    <span>Rating: </span> 
                   {{ review.rating_nr }}/5
                   <span>|</span>
                </p>
                <p class="inline">
                    <span>By: </span> 
                    {{ review.review_by }}
                    </p>
                    {% if session.user|lower == review.review_by|lower %}
                <span>|</span>
                <a class="edit" href="{{ url_for('edit_review', review_id=review._id) }}">EDIT</a>
                <span>|</span>
                <a href="{{ url_for('delete_review', review_id=review._id) }}">DELETE</a>
                {% endif %}
                </div>
            </div>
            
        </div>
    </div>
        {% endfor %}
        {% else %}

        <div class="row reviews-container bg-color-reviews">
            <div class="col s12 m8 offset-m2 center-align">
                <h4 class="center-align">
                    No Results Found
                </h4>
            </div>
        </div>
        
        {% endif %}
</div>

{% endblock %}
